.Companyist {
    overflow-y: auto;
    height: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:100%;
}